<section>
    <h1>Add new Event</h1>
    <ul><li><img src="./../assets/img/homelogo.png" alt=""><a href="./../login.html" data-link>Salir</a></li></ul>
    <div class="form_container">
        <link rel="stylesheet" href="./../assets/css/style.css">
        <link rel="stylesheet" href="./../assets/css/users.css">
        <img src="./../assets/img/user.png" alt="User/Admin">
        
        <h3>Register new student</h3>
        <form action="" id="form">
                <input type="text" placeholder="Name" id="name" required>
                <input type="email" placeholder="Email" id="email" required>
                <input type="text" placeholder="Descripction" id="descripction" required>
            <input type="number" placeholder="number" id="number" required>
            <input type="date" value="users_container" value="number" id="date" required>
            <div class="btns_form">
                <input type="submit" value="Cancel">
                <input type="submit" value="send" class="send"  id="send" required> 
            </div>
        </form>
    </div>
</section>