<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="stylesheet" href="./../assets/css/users.css">
    <title>Events</title>
</head>
<body>
    <header>
        <nav>
            <div class="title"><h1>EVENTS</h1></div>
            <div class="img_info">
                <img src="./../assets/img/user.png" alt="">
                <h2>User</h2>
                <p id="roleView"></p>
            </div>
            <ul>
                <li><img src="./../assets/img/events.png" alt=""><a href="./../views/studenlist.html" id="close-sesion" data-link>Add Event</a></li>
                <li><img src="./../assets/img/logout.png" alt=""><a href="./../login.html" data-link>Logout</a></li>
            </ul>
                
        </nav>
    </header>

    <main id="view"></main>
    <script type="module" src="./assets/js/main.js"></script>
</body>
</html>





