<section>
    <div class="head">
        <h1>List Events</h1>
        <link rel="stylesheet" href="./../assets/css/users.css">
        <div class="btns">
            <span>Icon</span>
            <a href="./addEvent.html" data-link class="btn-style">Add New Event</a>
        </div>
    </div>

    <div class="users_container">
        <table>
            <thead>
                <tr>
                <th>Name</th>
                <th>Gmail</th>
                <th>Phone</th>
                <th>Enroll Number</th>
                <th>Date of admission</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <tr>
                <td>jero</td>
                <td>soto@gmail.com</td>
                <td>123 421 0292</td>
                <td>+57 321 020 12 12</td>
                <td>02/06/2007</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>