<section>
    <div class="form_container">
        <img src="" alt="User/Admin">
        <h3>Register new student</h3>
        <form action="" id="form">
            <label for="">Email</label>
            <input type="email" value="" id="email">

            <label for="">Password</label>
            <input type="password" value="" id="password">

            <label for="">confirm Password</label>
            <input type="password" value="" id="confirmPassword">

            <div class="btns_form">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
</section>