
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #53417a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #7dc8dd;
}

.head {
  background-color: #C6F1EF;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid #00B2A9;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.head h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #007C84;
}

.head .btns {
  display: flex;
  gap: 1rem;
}

.head .btns button {
  padding: 0.8rem 1.5rem;
  background-color: #00B2A9;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.head .btns button:hover {
  background-color: #007C84;
}

.users_container {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(132, 245, 239, 0.1);
}

.users_container table {
  width: 100%;
  border-collapse: collapse;
}

.users_container table th,
.users_container table td {
  padding: 1rem;
  border: 1px solid #C6F1EF;
  text-align: center;
  font-size: 0.95rem;
}

.users_container table th {
  background-color: #00B2A9;
  color: #fff;
}

.users_container table tr:nth-child(even) {
  background-color: #F0FCFB;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.form_container {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 6px 16px rgba(0, 178, 169, 0.15);
}


form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  font-weight: 600;
  color: #6ea4b3;
}

form input {
  padding: 0.8rem;
  border: 1px solid #C6F1EF;
  border-radius: 6px;
  outline: none;
  transition: border 0.3s;
}

form input:focus {
  border: 1px solid #00B2A9;
}

.btns_form {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btns_form button {
  flex: 1;
  padding: 0.7rem;
  margin: 0 0.5rem;
  border: none;
  color: white;
  background-color: #00B2A9;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btns_form button:hover {
  background-color: #007C84;
}

.btns_form .cancel {
  background-color: #589aac;
}

.btns_form .cancel:hover {
  background-color: #589aac;
}

@media (max-width: 768px) {
  .btns_form {
    flex-direction: column;
    gap: 0.5rem;
  }

  .head {
    padding: 1rem;
  }

  .users_container {
    padding: 1rem;
  }

  .form_container {
    padding: 1.5rem;
  }
}

img{
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

